// you can change colors here
$theme-color: #2196f3;
$hr: rgba(27, 27, 29, 0.2);
$focus-color: #FF6347;
$font-family: '"Microsoft YaHei", "Arial", "sans-serif","PingFang SC",-apple-system, "Nimbus Roman No9 L",  "Noto Serif SC", ';